button{
    z-index: 4;
}

.frontButton{
    z-index: 5;
    transition-timing-function: ease-in-out;
    transition: .5s;
}

.backButton{
    z-index: 3;
}

#categoryButton {
    transition-timing-function: ease-in-out;
    transition: .5s;
}

#outfitButton {
    transition-timing-function: ease-in-out;
    transition: .5s;
}

