.checkoutShipping{
    background-color: #F2DCF2;
}

.checkoutText{
    margin: 10px;
}

.outfitFrame{
    border: .25rem solid #F2DCF2;
    border-radius: 1rem;
    padding: .5rem .25rem .5rem .25rem
}

