.faveOutfitContainer {
   /* aspect-ratio: 1 / 1; */
   /* position: fixed; */
   /* width: 100vw; */
   /* height: 100vh; */
   /* padding-top: 150px; */
 }

 .faveOutfitCard {
    background-color: #fff;
    /* width: 80vw; */
    max-width: 90vw;
    box-shadow: 4px 4px 5px 0px rgb(204, 204, 204);
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
 }