.swipeCardContainer {
   aspect-ratio: 1 / 1;
   position: absolute;
   width: 100vw;
   height: 100vh;
 }

.swipeCard {
   position: absolute;
   background-color: #fff;
   width: 80vw;
   max-width: 90vw;
   box-shadow: 4px 4px 5px 0px rgb(204, 204, 204);
   border-radius: 15px;
   background-size: cover;
   background-position: center;
   padding: 20px;
}