.cartFrameFrame{
    width: 100vw;
}



.checkoutFrame{
    height: 36vh;
}

#shippingEst{
    background-color: #F2DCF2;
 
    
}

.cartContainer{
    width: 300vw;
}


.cartList{
    justify-content: center;
    align-content: center;
    list-style: none;
    height: 20vh;
    width: 50vw;  
}

.cartImg{
    height: 20vh;
    max-width: none;
    width: 25vw;
    
}

.cartItemFrame{
    width: 100vw;
    height: 20vh;
}

.estimateText{
    margin: 0;
}

