.nav {
  /* flex box layout */
  justify-content: space-between;
  text-align: center;

  /* margin: 0 0 30px; */
  
  overflow: hidden;
}

.MuiPaper-root {
  padding: 18px;
  background-color: white;
}